[project]
name = "pfund-plot"
version = "0.0.1.dev3"
description = "A library for financial data visualization, dashboard creation, and template sharing."
license = "Apache-2.0"
authors = [
    {name = "Stephen Yau", email = "softwareentrepreneer+pfund-plot@gmail.com"}
]
readme = "README.md"
keywords = ["financial data", "plotting", "dashboards", "charts", "data visualization", "graphs", "plots"]
classifiers = [
    "Operating System :: OS Independent",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Intended Audience :: Financial and Insurance Industry",
    "Intended Audience :: Information Technology",
    "Topic :: Office/Business :: Financial :: Investment",
    "Topic :: Scientific/Engineering :: Visualization",
    "Topic :: Software Development :: Libraries",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]
requires-python = ">=3.11"
dependencies = [
    "pfeed>=0.0.5",
    "panel>=1.8.4",
    "hvplot>=0.12.1",
    "plotly>=6.5.0",
    "great-tables>=0.20.0",
    "anywidget>=0.9.21",
    "ipywidgets-bokeh>=1.6.0",
    "pywebview>=6.1",
    "datashader>=0.18.2",
]

[project.optional-dependencies]
marimo = ["marimo[recommended]>=0.18.3"]
vega = [
    "vegafusion>=2.0.3",
    "altair>=6.0.0",
]
jupyter = [
    "jupyter-bokeh>=4.0.5",
    "notebook>=7.5.0",
    "papermill>=2.6.0",
    "voila>=0.5.11",
    # "jupytext>=1.17.2",
]
# streamlit = ["streamlit>=1.44.1"]
# dash = ["dash>=3.0.2"]
# gradio = ["gradio>=5.23.3"]
# taipy = ["taipy>=4.0.0"]
# solara = ["solara>=1.44.1"]
# rio = ["rio-ui>=0.11.1"]

[project.scripts]
plt = "pfund_plot.main:run_cli"

[project.urls]
homepage = "https://pfund.ai"
repository = "https://github.com/PFund-Software-Ltd/pfund-plot"
documentation = "https://pfund-plot-docs.pfund.ai"

[build-system]
requires = ["uv_build>=0.9.16,<0.10.0"]
build-backend = "uv_build"

[tool.uv.build-backend]
module-name = "pfund_plot"
module-root = ""

# [tool.uv.sources]
# pfeed = { path = "../pfeed", editable = true }
